@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Devanagari:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif !important;
    background-color: rgb(236, 211, 211) !important;
    text-align: center !important;
    z-index: 10 !important;

}

a {
    color: black !important;
}

#top {
    font-family: "Noto Sans Devanagari", sans-serif !important;
    font-size: 1.5em;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.middle {

    border-top: 1px dashed rgb(209, 208, 208);
    border-bottom: 1px dashed rgb(209, 208, 208);


}

.container {
    margin-top: 25%;
}

.half {
    height: 1.7rem;
    aspect-ratio: 1;
    position: absolute;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 50%;
    background-color: white;
    top: 6.2rem;
    left: -0.9rem;
}

/* .middle::before {
    content: "";
    height: 1.7rem;
    aspect-ratio: 1;
    position: absolute;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    top: 6.4rem;
    left: -0.9rem;
    z-index: 5 !important;
} */

.middle::after {
    content: "";
    height: 1.7rem;
    aspect-ratio: 1;
    position: absolute;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 50%;
    background-color: white;
    top: 6.2rem;
    left: 95.7%;
}

.fs {
    font-size: 1em;
}



#top,
#bottom {
    background-color: rgba(164, 56, 21, 1) !important
}


.card {
    border-radius: 10px !important;
    overflow: hidden;
}

.nowrap {
    flex-wrap: nowrap !important;
}

.red_bg {
    color: white !important;
}

#p_id {
    font-size: 1.1em;
}

.customer {
    margin-top: 6.5rem;
}